/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "960/grid";

@include grid-system-complete();

@mixin no-select {
	-webkit-user-select:none;
	-moz-user-select:none;
}

body {
	background-color: #fff;
	font: 14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	padding-bottom: 80px;
}

h2 {
	font-size: 24px;
	margin: 20px 0px 10px;
}

h3 {
	font-size: 16px;
	font-style: italic;
	margin: 12px 0px 6px;
}

p {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.board {
	border: 1px solid #000;
	
	td {
		@include no-select();
		font-family: 'Times New Roman';
		font-size: 70px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		
		span {
			cursor: pointer;
		}
		
		&.pieceHover { background-color: #99e; }
	}
	
	tr:nth-child(2n) {
		td:nth-child(2n+1) {
			background-color: #ccc;
			&.pieceHover { background-color: #99e; }
		}
	}

	tr:nth-child(2n+1) {
		td:nth-child(2n) {
			background-color: #ccc;
			&.pieceHover { background-color: #99e; }
		}
	}
	
}
















